$color-primary: #3f4aae;
$color-secondary: #11132d;
$color-bg: #fbfdff;

$desktop-margin: 50px;
$tablet-margin: 30px;
$phone-margin: 20px;

$header-height: 80px;
$footer-height: 80px;

$header-height-phone: 120px;
$footer-height-tablet: 200px;
$footer-height-phone: 140px;

// Breakpoints
$phone-tablet-breakpoint: 568px;
$tablet-desktop-breakpoint: 992px;
